---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
---

<Layout title={`Accessibility`} metaDescription={`I have a lot of accessibility knowledge and experience. I offer a variety of accessibility services at Exove.`}
  currentUrl="/accessibility"
>
  <div class="text-lt-gray dark:text-dk-gray py-2 px-4-px max-w-xl mx-auto md:py-6 md:px-8-px lg:max-w-4xl">
    <h1 id="skip-target" class="block px-4-px font-bold mt-8 mb-4 lg:mb-8 text-4xl md:text-6xl text-lt-gray-heading dark:text-dk-gray-heading">Accessibility</h1>
    <div class="mx-4-px lead-content text-xl mb-6 lg:mb-12 text-lt-gray dark:text-dk-gray">
      <p>Accessibility is my passion. I want to do everything I can to make the world a more accessible place. I constantly try to spread my knowledge both at work and on my free time. And when I'm not doing that, I extend my own knowledge.</p>
      <p>I specialise in web accessibility but I'm also very interested in physical world accessibility.</p>

      <h2>Certifications</h2>
      <Image
        src="/logos/iaap-cpwa.png"
        alt=""
        width={200}
        height={200}
        aria-hidden="true"
        class="hidden invisible md:float-right m-2 md:visible md:block"
      />
      <p>When I first came across the IAAP (International Association of Accessibility Professionals) certifications, I decided they were one goal for me. I wanted to have some proof of my expertise on the subject.</p>

      <p>I'm happy to say that I'm now <a href="https://www.credly.com/badges/15d907b6-0867-448f-a06b-b564617f2d53">CPWA (Certified Professional in Web Accessibility)</a>. That means I have received two specific IAAP certifications:</p>
      <ul class="list-disc ml-10 leading-loose">
        <li>
          CPACC (Cerfified Professional in Accessibility Core Competencies) and
        </li>
        <li>
          WAS (Web Accessibility Specialist).
        </li>
      </ul>

      <p>I'm lucky that my current employer saw the value in me getting more and more knowledge on the topic. Without the support from <a href="https://www.exove.com">Exove</a>, I still might not be certified.</p>
      
      <h2>My accessibility website: I would if I could - a guide to web accessibility</h2>
      <p>One of my personal projects on the accessibility front has been <a href="https://a11y.ing">my accessibility site</a>. I have content in Finnish and English and I constantly try to bring more information and in better format to the site. It started as a small project to combine all my notes but then I realised that someone else might benefit from it as well.</p>
      <h3>A subsite for the site: My WCAG site</h3>
      <p>I extended my accessibility site arsenal with a <a href="https://wcag.a11y.ing">site dedicated to WCAG criteria</a>.</p>
      <hr class="border-t-8 gradient-border-light dark:gradient-border-dark -mx-4 md:-mx-8 md:my-12" />
      <h2>My accessibility skills</h2>
      <p>I have both technical and theoretical knowledge on a lot of topics in accessibility. The core competencies certification helped me study a lot of theory about, for example, the different types of disability models and Universal Design.</p>
      <p>If you have any needs where I could be of assistance, do reach out to Exove and ask for me!</p>
      <h3><span class="text-blue-tory dark:text-lt-perfume" aria-hidden="true">- </span>Accessibility audits <span class="text-blue-tory dark:text-lt-perfume" aria-hidden="true"> -</span></h3>
      <p>I've been doing accessibility audits since early 2020. I find audits really interesting because they also teach me how to be a better developer. And gathering the results and improvement suggestions to a report also helps me help my clients.</p>

      <p>I've also been mentoring several colleagues while they learn the ins and outs of accessibility audits. That has been an excellent way of strengthening my own expertise as well as get some teamwork possibilities.</p>
      <h3><span class="text-blue-tory dark:text-lt-perfume" aria-hidden="true">- </span>Accessibility training <span class="text-blue-tory dark:text-lt-perfume" aria-hidden="true"> -</span></h3>
      <p>I've been giving internal accessibility trainings at Exove. I'm also giving accessibility trainings to our clients. I have a lot of experience and information to share and I'd really love to help our clients be better with accessibility.</p>
      <h3><span class="text-blue-tory dark:text-lt-perfume" aria-hidden="true">- </span>Accessibility consulting <span class="text-blue-tory dark:text-lt-perfume" aria-hidden="true"> -</span></h3>
      <p>My expertise allows me to be a part of any digital accessibility process. Whether it be to define a company's accessibility policies or providing support and guidance to a team of designers and/or developers, my knowledge will help.</p>
      <h3><span class="text-blue-tory dark:text-lt-perfume" aria-hidden="true">- </span>Accessibility blogs <span class="text-blue-tory dark:text-lt-perfume" aria-hidden="true"> -</span></h3>
      <p>I write quite often about accessibility to my personal blog. The blog posts help me spread information and prepare for many types of accessibility work.</p>

      <p>I also write to Exove's blog regularly. We share some of the writing responsibilities (if you can call them that) with our accessibility guild.</p>
    </div>
  </div>
</Layout>