---
import Layout from '../layouts/Layout.astro';
---

<Layout title={`Welcome to my portfolio!`} metaDescription={`Hi! I'm Sanna, IAAP CPWA certified accessibility professional and web developer.`}
  currentType="front" currentUrl="front"
>
	<div class="text-lt-gray dark:text-dk-gray py-2 px-4-px max-w-xl mx-auto md:py-6 md:px-8-px lg:max-w-4xl">
		<h1 id="skip-target" class="block px-4-px font-bold mt-8 lg:mt-12 mb-4 lg:mb-8 text-4xl md:text-6xl text-lt-gray dark:text-white">Hello!</h1>
		<div class="mx-4-px lead-content text-xl mb-6 lg:mb-12 text-lt-gray dark:text-white">
			<p>I'm Sanna, IAAP CPWA certified accessibility professional and a web developer. I currently work as a senior developer and a technical competence manager at Exove. I'm a developer with a strong passion for accessibility and good user experiences. I like learning new things and technologies.</p>

			<p>I have a blog. It first started out as a practice Gatsby project but I continued writing about my cats, life, games, accessibility, and even some tech. If you're interested in what I've had to say, visit my blog.</p>

			<p>Please take a look around and feel free to contact me if you have any questions or if you just want to say hello!</p>
		</div>
	</div>

  <section class="max-w-7xl mx-4-px mb-8 md:mb-12 xl:mt-0 xl:mx-auto" slot="blogs" aria-label="Blog listing">
    {/* eslint-disable-next-line jsx-a11y/no-redundant-roles */}
    <ul class="grid grid-cols-1 gap-y-8 md:grid-cols-2 md:gap-8 lg:grid-cols-3 lg:gap-12" role="list">

    </ul>
  </section>
</Layout>