---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components';
---

<Layout title={`Web development`} metaDescription={`I'm a frontend-leaning developer with extensive knowledge in Drupal. Currently I love working with Astro.`}
  currentUrl="/web-development"
>
  <div class="text-lt-gray dark:text-dk-gray py-2 px-4-px max-w-xl mx-auto md:py-6 md:px-8-px lg:max-w-4xl">
    <h1 id="skip-target" class="block px-4-px font-bold mt-8 mb-4 lg:mb-8 text-4xl md:text-6xl text-lt-gray dark:text-white">
      Web development
    </h1>
    <div class="mx-4-px lead-content text-xl mb-6 lg:mb-12 text-lt-gray dark:text-white">
      <p>I'm a web developer by profession. I consider myself to be frontend-oriented, though I do like to do and learn backend development as well.</p>
      <p>There is always something new to learn, which is one of the things I love most about being a developer.</p>
      
      <h2>Content management systems (CMS)</h2>

      <p>
        I've worked with Drupal since 2011. Drupal is definitely one of my favourite content management systems. I always try out other systems as well but often I do end up getting back to Drupal. I've built many smaller and larger sites with it both on my free time and at work. Mostly at work I've built traditional Drupal websites but on my free time I mostly use Drupal as a headless CMS.
      </p>

      <p>
        More recently I've started working with Strapi. It's the first CMS that I've continued using after months and months. I have it as the backend of my accessibility website. The user experience is really nice.
      </p>

      <p>I've briefly used Forestry and Wordpress, but those I didn't stay with for long. In the very beginning in my career I also used Joomla!, but I haven't touched it in many years.</p>
      
      <h2>Frameworks</h2>
      
      <p>I've worked with multiple frameworks, though most of the work has happened in my personal projects. But luckily I have a lot of personal projects and I also like to upgrade and switch the technologies in the existing projects.</p>
      
      <p>
        Gatsby was the first framework I used. I loved it a lot in the beginning but it has not been updating as well as the other frameworks I use. I still use it from time to time just to make sure I keep at least somewhat up to date what happens with it.
      </p>

      <p>
        Next.js was the framework I switched my personal projects to from Gatsby. We also use Next.js at Exove but I have yet to participate in a headless project at work. Next.js has grown and improved a lot and I will definitely keep using it.
      </p>

      <p>
        Astro is probably my favourite framework at the moment. It is very beginner-friendly and it has excellent documentation. I hope Astro keeps becoming only better and better. This site, myy blog and my accessibility site are all currently running Astro. It was super easy to switch from Next.js to Astro. They also have instructions on how to do it. And they also have instructions on how to integrate Strapi with Astro.
      </p>

      <p>
        Tailwind is a fun framework for the theming side of development. It took me a moment to get used to it but now it feels very intuitive and logical. Can't wait to use it in more projects and become a Tailwind expert.
      </p>
    </div>
  </div>
</Layout>