---
import Layout from '../layouts/Layout.astro';
import dayjs from 'dayjs';
import type Experience from '../interfaces/experience';
import type Company from '../interfaces/company';

const experienceResponse = await fetch("https://drupal.ampere.corrupted.pw/graphql",
  {
    method: 'POST',
    headers: {'Content-Type':'application/json'},
    body: JSON.stringify({
      query: `
      query GetExperiences {
        experiences(limit: 100) {
          items {
            companyLink {
              title
              uri
            }
            content
            endDate
            title
            startDate
          }
        }
      }
      `
    }),
  });

const experienceJson = await experienceResponse.json();
const experienceContent = experienceJson.data;
---

<Layout title={`Work experience`} metaDescription={`My education. Recently I've been mostly learning about accessibility.`}
  currentUrl="/work-experience"
>
  <div class="text-lt-gray dark:text-dk-gray py-2 px-4-px max-w-xl mx-auto md:py-6 md:px-8-px lg:max-w-4xl">
    <h1 id="skip-target" class="block px-4-px font-bold mt-8 mb-4 lg:mb-8 text-4xl md:text-6xl text-lt-gray dark:text-white">Work experience</h1>
    {experienceContent.experiences.items.map((node: Experience) => {
      return (
        <article class="experience-box p-4-px lg:p-8-px border-b-4 gradient-border-light dark:gradient-border-dark">
            <h2 class="project-content my-4">
                {node.title}
            </h2>
            <div class="text-base">
              <div class="mb-1">
                {dayjs(node.startDate).format(`YYYY/MM`)}{ node.endDate ? ' - ' + dayjs(node.endDate).format(`YYYY/MM`) : ''}
              </div>
              {node.companyLink.map((company: Company) => {
                return (
                  <a href={ company.uri }>
                    { company.title }
                  </a>
                );
              })}
            </div>
            <div><Fragment set:html={ node.content } /></div>
        </article>
      );
    })}
  </div>
</Layout>